.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.item {
  margin-bottom: 10px;
  height: 30px;
}

.label {
  display: inline-block;
  width: 120px;
  font-size: 14px;
  line-height: 30px;
}
.input {
  border: 1px solid #000;
  display: inline-block;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding-left: 5px;
}
