.leftPanelCard {
  width: 256px;
  height: 100%;
  padding: 18px 12px;
}

.batchContainer {
    width: 100%;
    min-height: 400px;
}

.smallAvatar {
  width: 180px !important;
  height: 180px !important;
}
