.selector {
  width: 150px;
  height: 30px;
  position: relative;
}
.selector select {
  width: 100%;
  height: 100%;
}
.selector .clear {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
}
